:host {
  display: block;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 1rem 0;
  box-shadow: var(--shadow);
}

.header-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}
